main :is(p, p *) {
    font-size: 18px;
    font-family: sans-serif;
}

#start {
    display: block;
    color: black;
    font-size: 32px;
    margin: 48px auto;
    border-width: 0px;
    width: max-content;
    border-radius: 8px;
    padding-block: 8px;
    padding-inline: 24px;
    text-decoration: none;
    font-family: sans-serif;
    background-color: #AAF;
}

#start:hover {
    background-color: #DDF;
}


main h2 {
    margin-top: 24px;
}

main p {
    margin-top: 16px;
}

main {
    width: 100%;
    max-width: 800px;
    align-self: center;
    margin-block: 64px;
    padding-inline: 1ch;
}