* {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html {
    height: 100%;
}

body {
    height: 100%;
    color: #ccc;
    display: flex;
    flex-direction: column;
    background-color: #0b0b0f;
    justify-content: space-between;
}

footer {
    padding: 4px;
    line-height: 1;
}

#site_title {
    flex-grow: 1;
    color: #c04;
    font-size: 32px;
    text-decoration: none;
}

nav {
    gap: 16px;
    padding: 4px;
    display: flex;
    padding-right: 16px;
    align-items: center;
    border-color: #000;
    border-bottom-width: 2px;
    background-color: #0d0d0d;
    border-bottom-style: solid;
}

#logo {
    border-radius: 4px;
}

nav * {
    display: block;
}