@import url('https://fonts.googleapis.com/css2?family=Amatic+SC');

* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    max-width: 2000px;
    align-self: center;
    padding-inline: 16px;
    flex-direction: column;
}

#search_bar {
    gap: 8px;
    width: 100%;
    height: 32px;
    display: flex;
    margin-top: 32px;
    padding-inline: 16px;
    align-items: center;
}

#search_bar input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #666;
}

#search_bar img {
    height: 80%;
    user-select: none;
    align-self: center;
}

#search_bar img:hover {
    cursor: pointer;
}

hr {
    width: 100%;
    margin-block: 32px;
    border: 1px dashed #666;
}

#search_results {
    gap: 16px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 16px;
    justify-content: center;
}

.food {
    gap: 16px;
    display: flex;
    padding: 16px;
    flex-wrap: wrap;
    max-width: 100%;
    border-radius: 16px;
    flex-direction: row;
    background-color: #EEE;
    border: 1px solid #666;
}

.food_image {
    width: 256px;
    height: 256px;
    margin: 0 auto;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 16px;
}

.food_information {
    flex-grow: 1;
    width: 384px;
}

.food_label_list {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    margin-block: 16px;
}

.food_label {
    border-radius: 8px;
    padding-block: 4px;
    padding-inline: 8px;
    border: 1px solid #666;
    background-color: #EEE;
}

.food_name {
    font-size: 32px;
    margin-block: 4px;
    font-family: Amatic SC, Georgia, serif;
}

.food_rating {
    font-size: 32px;
    margin-block: 4px;
    font-family: 'Courier New', Courier, monospace;
}

.food_description {
    font-size: 20px;
    margin-block: 4px;
    font-family: 'Times New Roman', Times, serif;
}

header,
footer {
    gap: 16px;
    display: flex;
    align-items: center;
    background-color: #DDD;
}

header {
    width: 100%;
    font-size: 48px;
    padding-block: 8px;
    justify-content: center;
    font-family: Amatic SC, Georgia, serif;
}

footer {
    padding: 8px;
    flex-wrap: wrap;
    padding-bottom: 0;
    font-family: monospace;
    flex-direction: row-reverse;
    justify-content: space-around;
}